
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    margin: 0;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    position: relative; /* Necesario para posicionar la barra */
  }
  
  .barra {
    width: 12px;
    height: 100px; /* Puedes ajustar la altura según necesites */
    background-color: black;
    position: absolute;
    top: -100px; /* Ajusta según la altura de la barra */
  }
  
  .luz {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    background-color: gray;
    transition: box-shadow 0.3s;
  }
  
  .luz.roja {
    background-color: red;
  }
  
  .luz.amarilla {
    background-color: yellow;
  }
  
  .luz.verde {
    background-color: green;
  }
  
  .luz.brillo {
    box-shadow: 0 0 50px 20px rgba(180, 201, 139, 0.8);
  }
  .semaforo {
    border-radius: 20px;
  }
  