body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
    margin: 0;
  }
  
  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    position: relative; /* Necesario para situar la posicion de la barra */
  }
  
  .barra {
    width: 15px;
    height: 80px; /* se ajusta la altura según necesitamos lo igualamos con el top = negativo */
    background-color: black;
    position: absolute;
    top: -80px; /*vamos jugando hasta ajustarla a la medida que queramos para subir o bajar la barra*/
  }
  
  .luz {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    background-color: gray;
    transition: box-shadow 0.3s;
  }
  
  .luz.roja {
    background-color: red;
  }
  
  .luz.amarilla {
    background-color: yellow;
  }
  
  .luz.verde {
    background-color: green;
  }
  
  .luz.purpura {
    background-color: purple;
  }
  
  .luz.brillo {
    box-shadow: 0 0 50px 20px rgba(227, 228, 160, 0.9);
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    cursor:progress;/*cambia el cursor cuando esta encima del boton*/
    font-size: 14px;
    border-radius: 20px;
  }
  